body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

nav {
  background-color: #666;
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

nav a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.post {
  margin-bottom: 40px;
}

.post-macchu{
    background-color: aquamarine;
    border-radius: 30px; 
}
.post img {
  max-width: 100%;
  height: auto;
}

.post h2 {
  margin-top: 0;
}

.post p {
  line-height: 1.6;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
